.sign-in{
    margin: 0 auto;
    width: 25%;
    border: 1px solid #DBDBDB;
    padding: 30px;
    font-family: sans-serif;
    background-color: #ffffff;
}

.sign-in-text h2{
    font-size: 60px;
}

.sign-in-text h5{
    color: darkgrey;
    margin: 20px 0;
}

.sign-in-facebook{
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 6px;
    background-color: #0095F6;
    font-size: large;
    font-weight: bold;
}

.sign-in-facebook a{
    text-decoration: none;
    color: #ffffff;
}

.row-line{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.div-line{
    height: 1px;
    background-color: black;
    margin: 0 auto;
}

.sign-in-registration{
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 6px;
    color: white;
    background-color: #B2DFFC;
    font-size: large;
    font-weight: bold;
    margin: 20px 0;
}

.text-registration{
    padding: 5px 30px;
    font-size: 12px;
}
.push-sign-up{
    width: 25%;
    margin: 20px auto;
    border: 1px solid #DBDBDB;
    padding: 30px;
    background-color: #ffffff;
}